a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ------------mobile style  -----------*/
/* =============   HEADER   ============== */
@media screen and (max-width:768px) {
    .container {
  max-width: 320px;
 padding-left: 16px;
 padding-right: 16px;
 margin-left: auto;
 margin-right: auto;
 }
  .logo {
font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
 margin-right: 76px
}

.logo-studio {
    color: #2e2f42;
}
.menu{
    display: none;
}
.mail-tel{
    display: none;
}
.mobile-menu-open{
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}
.container-header{
    padding-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* =============  SECTION 1   ============== */
    
    
       
}

/* ------------mobile style  -----------*/

/* ------------tablet style  -----------*/
@media screen and (min-width:768px) {
    .container {
        max-width: 736px;
    }
}




/* ------------tabletstyle  -----------*/

/* ------------desktop style  -----------*/
@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
    }
}